.App {
	color: #201009;
}

/* Footer styling start */
.footer {
	background-color: #6b341f;
	color: #f8ece7;
	box-shadow: 0 10px 20px #797579;
	position: fixed;
	display: flex;
	bottom: 0;
	left: 0;
	width: calc(100% - 20px);
	height: 25px;
	padding: 10px;
}
.footnote {
	margin: 0 10px;
	height: 100%;
	width: 100%;
}
.social-links {
	display: flex;
	margin: 0 10px;
}
.social-links svg {
	height: 100%;
	margin-left: 10px;
	color: #f8ece7;
}
/* Footer styling end */

/* Header styling start */
.header {
	background-color: #6b341f;
	color: #f8ece7;
	box-shadow: 0 -10px 20px #313245;
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	width: calc(100% - 20px);
	height: 25px;
	padding: 10px;
}
.title {
	height: 100%;
	width: 100%;
	margin: 0;
}
.logo {
	margin: 0 10px;
}
.header .mode-toggle {
	margin-right: 10px;
	min-width: 8em;
	border-radius: 20px;
	font-weight: 600;
	cursor: pointer;
}
.header .mode-toggle.active {
	background-color: #f8ece7;
	color: #201009;
	border: none;
	padding: 5px;
}
.header .mode-toggle.inactive {
	background-color: inherit;
	color: #f8ece7;
	border: 1px solid #f8ece7;
	padding: 4px;
}
.header button:disabled.mode-toggle {
	cursor: not-allowed;
}
/* Header styling end */

.main {
	margin-top: 45px;
	margin-bottom: 45px;
	display: flex;
}

.calculator {
	width: 70vw;
	position: fixed;
	height: calc(100% - 90px);
}
.calculator .keypad .row {
	display: flex;
	height: 20%;
}
.calculator .keypad .row .col {
	width: 100%;
	text-align: center;
	font-size: 20px;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	background-color: #f7e2da;
}
.calculator .keypad .row .col.half {
	width: 50%;
}
.history {
	height: 30%;
	position: relative;
	overflow: auto;
	background-color: #f8ece7;
}
.history::-webkit-scrollbar {
	width: 12px;
}
.history::-webkit-scrollbar-thumb {
	background-color: #6b341f;
	border-radius: 5px;
}
.history div {
	position: absolute;
	margin: 10px;
	bottom: 0;
	right: 0;
	height: calc(100% - 20px);
}
.history p {
	margin: 0;
	text-align: right;
}
.result {
	height: calc(10% - 20px);
	text-align: right;
	padding: 10px;
	background-color: #f8ece7;
	/* color: #f8ece7; */
}
.result > p {
	margin: 0;
	height: 100%;
	font-size: calc(8vh / 1.5);
	line-height: 1;
}
.keypad {
	height: 60%;
}

.notes {
	left: 70vw;
	width: calc(30vw - 20px);
	position: fixed;
	height: calc(100% - 110px);
}
.notes > textarea {
	height: 100%;
	width: 100%;
	padding: 10px;
	box-shadow: inset 0px 0px 5px #8a766f;
	outline: none;
	border: none;
	resize: none;
	background-color: #f8ece7;
}
.notes > textarea::-webkit-scrollbar {
	width: 12px;
}
.notes > textarea::-webkit-scrollbar-thumb {
	background-color: #6b341f;
	border-radius: 5px;
}
.accent-background {
	background-color: #a2502f !important;
	color: #f8ece7 !important;
}
.sec-background {
	background-color: #eed4ca !important;
}
