/* Footer styling start */
.footer {
	background-color: #d8c9d9;
	color: #05252e;
	box-shadow: 0 10px 20px #797579;
	position: fixed;
	display: flex;
	bottom: 0;
	left: 0;
	width: calc(100% - 20px);
	height: 25px;
	padding: 10px;
}
.footnote {
	margin: 0 10px;
	height: 100%;
	width: 100%;
}
.social-links {
	display: flex;
	margin: 0 10px;
}
.social-links svg {
	height: 100%;
	margin-left: 10px;
	color: #313245;
}
/* Footer styling end */

/* Header styling start */
.header {
	background-color: #313245;
	color: #eeede7;
	box-shadow: 0 -10px 20px #313245;
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	width: calc(100% - 20px);
	height: 25px;
	padding: 10px;
}
.title {
	height: 100%;
	width: 100%;
	margin: 0;
}
.logo {
	margin: 0 10px;
}
/* Header styling end */

.main {
	margin-top: 45px;
	margin-bottom: 45px;
	display: flex;
}

.calculator {
	width: 70vw;
	position: fixed;
	height: calc(100% - 90px);
}
.calculator .keypad .row {
	display: flex;
	height: 20%;
}
.calculator .keypad .row .col {
	width: 100%;
	text-align: center;
	border: black 1px solid;
	font-size: 20px;
}
.calculator .keypad .row .col.half {
	width: 50%;
}
.formula {
	height: calc(20% - 20px);
	text-align: right;
	padding: 10px;
}
.result {
	height: calc(20% - 20px);
	text-align: right;
	padding: 10px;
}
.keypad {
	height: 60%;
}

.notes {
	left: 70vw;
	width: calc(30vw - 20px);
	position: fixed;
	height: calc(100% - 110px);
	box-shadow: inset 0px 0px 5px black;
	padding: 10px;
}
.notes > textarea {
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	resize: none;
}
