/* Footer styling start */
.footer {
	background-color: #d8c9d9;
	color: #05252e;
	box-shadow: 0 10px 20px #797579;
	position: fixed;
	display: flex;
	bottom: 0;
	left: 0;
	width: calc(100% - 20px);
	height: 25px;
	padding: 10px;
}
.footnote {
	margin: 0 10px;
	height: 100%;
	width: 100%;
}
.social-links {
	display: flex;
	margin: 0 10px;
}
.social-links svg {
	height: 100%;
	margin-left: 10px;
	color: #313245;
}
/* Footer styling end */

/* Header styling start */
.header {
	background-color: #313245;
	color: #eeede7;
	box-shadow: 0 -10px 20px #313245;
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	width: calc(100% - 20px);
	height: 25px;
	padding: 10px;
}
.title {
	height: 100%;
	width: 100%;
	margin: 0;
}
.logo {
	margin: 0 10px;
}
/* Header styling end */
